.vscode/**
.vscode-test/**
node_modules
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
Jenkinsfile
*.md
!README.md
!CHANGELOG.md
.prettierrc
build/**
.github/**
images/**
target/**
report.xml