.vscode/**
.vscode-test/**
node_modules
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
Jenkinsfile
INSTRUCTIONS.md
USAGE_DATA.md
.prettierrc
build/**
.github/**
target/**
report.xml